{% load aux_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap/css/bootstrap.min.css' %}">
	<script language="javascript" src="{% static 'core/css/bootstrap/js/jquery-3.1.0.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'core/js/slick/slick.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'core/js/slick/slick-theme.min.css' %}"/>
	<script type="text/javascript" src="{% static 'core/js/slick/slick.min.js' %}"></script>

</head>
<body id="bg">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
        	<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavBar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Private Chat</a>
			</div>
			<div class="collapse navbar-collapse" id="topNavBar">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="/">Home</a></li>
					<li><a href="{% url 'core:about' %}">About</a></li>
					<li><a href="https://github.com/diegofsousa/DjangoPrivateChat" target="_blank">View on GitHub</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right"> 
				{% if request.user.is_authenticated %}				            
					<li class="dropdown">              
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.first_name }}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="hoverLiFix color-black" onclick="logout()"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Logout</li>
							<li class="hoverLiFix color-black" data-toggle="modal" data-target="#modalDeleteAccount"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete your account</li>
						</ul>
						<!-- Modal -->
						<div class="modal fade" id="modalDeleteAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title color-black" id="myModalLabel">Delete your account</h4>
							      </div>
							      <div class="modal-body color-black">
							        By completing this action, you will delete this account.
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							        <button type="button" class="btn btn-danger" onclick="delete_account()">I want to delete my account</button>
							      </div>
							    </div>
							  </div>
							</div>
					</li>
				
				{% else %}
	            <li>
	                <div class="navbar-form navbar-right col-xs-12">
	                    <div class="form-group">
	                    {% csrf_token %}
	                        <label class="sr-only" for="user">
	                            user:
	                        </label>
	                        <input type="text" class="form-control" id="inputUsernameL" placeholder="Username" name="username">
	                    </div>
	                    <div class="form-group">
	                        <label class="sr-only" for="pass">
	                            password:
	                        </label>
	                        <input type="password" class="form-control" id="inputPasswordL" placeholder="Password" name="pass">
	                    </div>
	                    <button onclick="login()" class="btn btn-success btn-sm">Sign in</button>
	                </div>
	            </li>
				{% endif %}
				</ul>
			</div>
		</div>
	</nav>


{% block body %}
{% endblock %}
	<div class="container-fluid" id="container-rodape">
        <div class="container text-center">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h4>Private Chat</h4>
                    <p>"Private chat" is an open source project that functions as a messenger taking and bringing texts through asynchronous requests.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-">
                    <h4>About contribuitions</h4>
                    <!-- Place this tag where you want the button to render. -->
					<a class="github-button" href="https://github.com/diegofsousa/DjangoPrivateChat" data-icon="octicon-star" data-count-href="/diegofsousa/DjangoPrivateChat/stargazers" data-count-api="/repos/diegofsousa/DjangoPrivateChat#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star diegofsousa/DjangoPrivateChat on GitHub">Star</a>
					<a class="github-button" href="https://github.com/diegofsousa/DjangoPrivateChat/fork" data-count-href="/diegofsousa/DjangoPrivateChat/network" data-count-api="/repos/diegofsousa/DjangoPrivateChat#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork diegofsousa/DjangoPrivateChat on GitHub">Fork</a>
                    <p>This project is open for contributions!<br>:)</p>
                    <!-- Place this tag where you want the button to render. -->
					
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                	<h4>About the developer</h4>
                    <p>Diego Fernando is on <a href="http://github.com/diegofsousa" target="_blank">GitHub</a> <br> and in email: <br>diegofernando5672@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
<script language="javascript" src="{% static 'core/css/bootstrap/js/bootstrap.min.js' %}"></script>
<script language="javascript" src="{% static 'core/js/registerfields.js' %}"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>