@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body#bg{
	font-family: 'PT Sans', sans-serif;
	background-image: url("../imagens/background.png");
	color: #FFFFFF;
}

input#inputUsernameL, input#inputPasswordL{
    width:150px;
    height:30px;
}

.translucid{
	background-color: rgba(255,255,255,.4);
}

.color-black{
	color: #000;
}

.space{
	height: 50px;
}

.desc{
	margin-bottom: 50px;
}

.panelone{
	height: 400px;
}

div#container-rodape{
	background-color: #141D1D;
}

.hoverLiFix{
	padding: 5px;
	text-align: center;
}
.hoverLiFix:hover{
	background-color: #f5f5f5;
	padding: 5px;
	cursor:pointer;
}

.msg-emitter{
    background-color: #f5f5f5;
    color: #000000;
    padding: 10px;
    display: table;
    max-width: 50%;
    border-radius: 10px;
}

.msg-receiver{
    color: white;
    background-color: #363636;
    padding: 10px;
    display: table;
    max-width: 50%;
    border-radius: 10px;
}

.pfotin{
    padding-bottom: 35px;
}

.buttonmsg{
    margin-top: 10px;
}

.stylebar{
	padding-bottom: 35px;
}

.txtvisualized{
	font-size: 9pt;
	margin-top: -10px;
	margin-bottom: 0px;
	margin-right: 10px;
	color: #58CBBC;
}

.element{
	background-color: #FFF;
	margin: 3px;
	padding: 5px;
	border-radius: 5px;
}

.element > h3{
	text-align: center;
	color: #000;
}

.detailMsg{
	color: #696969;
}

.noRead{
	position: relative;
	margin: 4px;
}

/*Nano scroller*/

/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 300px;
  overflow : hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}
